html,
body {
  height: 100%;
  margin: 0;
}

#app-root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.page-main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
